@import '../variables';

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: $brandPrimary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 14px;
	padding: $s * 2;
	& > * {
		padding: $s * 2;
	}
	input {
		padding: $s;
		margin-right: $s * 3;
	}
}
