$card-width: 265px;
$card-height: $card-width * 3.5 / 2.5;
$picture-width: 100px;
$picture-height: $picture-width * 3.5 / 2.5;

.scene {
  width: $card-width;
  min-width: $card-width;
  height: $card-height;
  perspective: 600px;
  margin: 10px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

  * {
    margin: 10px;
  }
}
